extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/main") Home
    
  a(href="/make") Make a new game
  
  section#games
    if !games || games.length == 0
      div.game
        h3.emptyGame No Games yet
    else
      each val in games
        div.game
          p.gameName Name: #{val.name}
          p.gameCurItr Current Iteration: #{val.currentIteration}
          p.gameMaxItr Maximum Iterations: #{val.maxIterations}
          p.gameOwner Owner: #{val.ownerUsername}
          p.gameCard Card: #{val.cards[val.currentIteration]}
          
          button(class="deleteButton", name="#{val.name}", value="#{csrfToken}") Delete
          
