extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/help") Help
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") My Games
    .navlink
      a(href="/main") Home
    
          
  
  
  p.instruct Click on a Game to Open
  p.error Error Here
  section.games
    h1.instruct Available Games:
    if !games || games.length == 0
        h3.instruct No games available to contribute to right now.
        a#button(href="/account" class="formSubmit") Go to My Games
        p.instruct or
        a#button(href="/make" class="formSubmit") Make a new game
    else
      each val in games
        div.game(name="#{val.name}", csrf="#{csrfToken}")
          p.gameName Name: #{val.name}
          p Iterations Left: #{val.iterationsLeft}
          p.gameOwner Owner: #{val.ownerUsername}
          p.gameCard Card: #{val.cardType}
          
    div(style="clear:both; margin-bottom:10px;")
block scripts
  script(src="/assets/make.js")
