extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    
  button(class="makeButton", name="makeButton" value="#{csrfToken}") Make a new game
  
  section#games
    if !games || games.length == 0
      div.game
        h3.emptyGame No Games yet
    else
      each val in games
        div.game
          h3.gameName Name: #{val.name}
          h3.gameCurItr Current Iteration: #{val.curItr}
          h3.gameOwner Owner: #{val.Owner}
          h3.curCard Current Card: #{val.card[val.curItr]}
          
          button(class="deleteButton", name="#{val.name}", value="#{csrfToken}") Delete
          
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/make.js")
