extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/main") Home
          
  

  p.instruct Click on a Game to Open
  section#games
    p.error Error Here
    a#newGameButton(href="/make" class="formSubmit") Make a new game
    if !games || games.length == 0
      div.game
        h3.emptyGame No Games yet
    else
      each val in games
        div.game(name="#{val.name}", csrf="#{csrfToken}")
          p.gameName Name: #{val.name}
          p.gameCurItr Current Iteration: #{val.currentIteration}
          p.gameMaxItr Maximum Iterations: #{val.maxIterations}
          p.gameOwner Owner: #{val.ownerUsername}
          p.gameCard Card: #{val.cards[val.currentIteration]}
          
          button(class="deleteButton", name="#{val.name}", value="#{csrfToken}") Delete
  
block scripts
  script(src="/assets/make.js")
