extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/main") Home
      
  
  
  section#games
    p.error Error Here
    if !game || game.length == 0
      div.game
        h3.emptyGame No Game exists
    else
      each val in game
        div.game
          p.gameName Name: #{val.name}
          p.gameCurItr Current Iteration: #{val.currentIteration}
          p.gameMaxItr Maximum Iterations: #{val.maxIterations}
          p.gameOwner Owner: #{val.ownerUsername}
          p.gameCard Card: #{val.cards[val.currentIteration]}
    a(href="/main", class="formSubmit") Return
  
block scripts
  script(src="/assets/make.js")
